html, body{
  margin: 0;
  padding: 0;
  font-family: sans, Arial;
}

*{
  border: 0px dotted red;
}

header{
  height: auto;
  width: 80rem;
  text-align: center;
  margin: auto;
}

header img{
  width: 4rem;
  display: inline;
}

header h1 {
}


h2:after{
  content: "";
  display: block;
  height: 1px;
  background: grey;
}

h3{
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

content{
  display: block;
  margin: auto;
  width: 80rem;
}

.updateinfo{
  color: grey;
  font-size: 0.9rem;
}

table{
  text-align: right;
}

.details, .details th, .details td{
  border: 1px solid grey;
  border-collapse: collapse;
}
.details th{
  width: 9rem;
  text-align: left;
}

.list{
  text-align: left;
}

.list td:nth-child(1){
  font-weight: bold;
}
.list p{
  padding: 0;
  margin: 0;
}

p{
  text-align: justify;
  margin-left: 1rem;
  margin-right: 1rem;
}

.green{
  background-color: lightgreen;
}
.yellow{
  background-color: yellow;
}
.orange{
  background-color: orange;
}
.red{
  background-color: red;
}
.pink{
  background-color: pink;
}

.indicator{
  text-align: center;
  margin: auto;
}

.indicator td{
  border-radius: 5px;
  width: 8rem;
}

footer:before{
  content: "";
  display: block;
  height: 1px;
  background-color: gray;
  margin-top: 1rem;
}
footer{
  display: block;
  font-size: 0.7rem;
}
footer p{
  text-align: center;
}