html,body{
  padding: 0;
  margin: 0;
}

/*
*{
  border: 1px dotted red;
  font-family : Sans, Arial;
}*/

*{
  font-family : Sans, Arial;
}

h1,h2,h3{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
}

h3{
  color: grey;
}

table{
  border-collapse: collapse;
  margin: auto;
}

tr div{
  display: inline;
}

tr .value.red{
  background-color: red;
}

tr .value.orange{
  background-color: orange;
}

tr .value.yellow{
  background-color: yellow;
}

tr .value.green{
  background-color: lightgreen;
}

tr .variation{
  background-color: #ffffffd6;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
}

tr .variation.white{
  color: black;
}

tr .variation.green{
  color: green;
}

tr .variation.red{
  color: red;
}

th{
  background-color: lightgrey;
  padding: 0.2rem 1rem;
  border-bottom: 1px solid black;
}

td{
  padding: 0.2rem 1rem;
}

th:nth-child(1){
  background: none;
}

td:nth-child(1), th:nth-child(1){
  border-right: 1px solid black;
  text-align: center;
}

td:nth-child(even){
  text-align: right;
}

img{
  width: 70rem;
  display: block;
  margin: auto;
}

footer{
  text-align: center;
  margin-top: 1rem;
  padding: 5px;
  border-top: 1px solid lightgray;
  font-size : 0.8rem;
}

footer p{
  margin: 0.2rem;
}